@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.map-container {
  margin-top: 5px;
  height: 90vh;
}

.map {
  flex: 1;
  height: 90vh;
}

.county {
}
