@import 'node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html, body, #map {
  height: 100%;
  width: 100%;
}

#map {
  margin-top: 50px;
}

.county {
  fill: #fff;
  stroke: #777;
}

svg {
  stroke: black;
  stroke-width: 1;
}
